<main class="main" role="main" aria-label="Address autocomplete demo">
  <h2>Address Autocomplete Demo</h2>

  <form
    [formGroup]="addressForm"
  >
      <app-address-field
        label="Address"
        placeholder="Start typing address..."
        (addressSelected)="handleAddressSelected($event)"
      >
      </app-address-field>
  </form>

  <div *ngIf="selectedAddress" class="address-summary-grid">
    <div *ngFor="let address of selectedAddress | keyvalue">
      <div class="address-object-label">{{ address.key | camelCaseToLabelDisplay}}</div>
      <div class="address-object-value">{{ address.value || '—' }}</div>
    </div>
  </div>
</main>
