.address-field {
  position: relative;
}

mat-form-field {
  width: 100%;
  margin-bottom: -20px;
}

mat-nav-list {
  width: inherit;
  max-height: 400px;
  overflow: auto;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);

  mat-list-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0;

    &:hover {
      background: lightblue;
    }
    &.focused {
      background: lightblue;
    }
  }
}

mat-spinner {
  margin-right: 10px;
}
